{{!< default}}
<div class="container">
	<div class="jumbotron">

		<!-- Chair for Open Distributed Systems -->
		<img align="right" src="/images/ODS_logo.png" width="90" style="margin-left: 2%; margin-right: 2%;">

		<!-- Technische Universität Berlin -->
		<img align="right" src="/images/logo.svg" width="70">

		<h2>Welcome</h2>
		<p>This project website is created part of the master thesis "Review on CI in Mobile Development" (RoCIiMD)</p>
		<strong>Supervisor:</strong> André Paul <br />
		<strong>Student:</strong> Akarsh Seggemu <br />
		<br  />
		in cooperation with <br />
		<!-- Fraunhofer-Institut für Offene Kommunikationssysteme (FOKUS) -->
		<img src="/images/FF_logo.png" width="140">

	</div>
</div>
