<div class="container">
  <h1>Project</h1>
  <form action="/android" method="get">
    <input type="radio" name="android" value="android" checked="checked"> Android <br  />
    <input type="radio" name="ios" value="ios" > iOS <br  />
    <input type="radio" name="java" value="java" > Java <br />
    <input type="radio" name="scala" value="scala" > Scala <br />
    <input type="radio" name="python" value="python" > Python
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </form>
</div>
